body {
  background-color: white;
}

/**** START NAVIGATION ***/
.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 1%;
  padding-bottom: 1%;
}

@media only screen and (max-width: 750px) {
  .navbar {
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: black !important;
  }

  #brandName {
    color: black !important;
  }

  #myNavbar a {
    color: black !important;
  }
}
@media only screen and (max-width: 767px) {
  #aboutNav {
    display: none !important;
  }
}
#brandName {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 185%;
  line-height: 24px;
}

#myNavbar a {
  color: white;
  font-family: "Poppins", sans-serif;
  -webkit-transition: font-size 1s, color 1s;
  /* For Safari 3.1 to 6.0 */
  transition: font-size 1s, color 1s;
}

#myNavbar a:hover {
  color: #7C7C7C;
  font-size: 102%;
}

#myNavbar .dropdown ul {
  background-color: rgba(0, 0, 0, 0.6);
}

#myNavbar #industries {
  background-color: rgba(0, 0, 0, 0) !important;
}

#myNavbar .dropdown ul li {
  padding: 5% 0%;
}

#myNavbar .dropdown ul li a {
  color: white !important;
  -webkit-transition: background-color 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: background-color 0.5s;
}

#myNavbar .dropdown ul li a:hover {
  background-color: #CC2936;
}

/**** END NAVIGATION ****/
/**** START JUMBO ****/
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

@media (min-width: 768px) {
  .homepage-hero-module h1 {
    font-size: 6em;
  }

  .homepage-hero-module a {
    font-size: 1em;
    border-style: solid;
    padding: 1% 2% 0.6% 2%;
    margin-right: 1%;
  }
}
@media (max-width: 600px) {
  .homepage-hero-module h1 {
    padding-top: 12%;
    font-size: 3.5em;
  }

  #jumboButtons {
    padding-top: 5%;
  }

  .homepage-hero-module a {
    font-size: 1em;
    border-style: solid 0.5px;
    padding: 1% 2% 0.6% 2%;
    margin-right: 1%;
  }
}
.homepage-hero-module h1 {
  margin-top: 4%;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}

.homepage-hero-module h3 {
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
}

.homepage-hero-module hr {
  width: 12%;
  margin: 0;
  border-width: 5px;
  margin-top: 8%;
}

#jumboButtons {
  margin-top: 3%;
}

.homepage-hero-module a {
  font-size: 1em;
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border-style: solid;
  padding: 1% 2% 0.6% 2%;
  margin-right: 1%;
  -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s, text-decoration 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, text-decoration 0.2s;
}

.homepage-hero-module a:hover {
  color: white;
  background-color: #CC2936;
  border-color: #CC2936;
  text-decoration: none !important;
}

.homepage-hero-module .container {
  margin-top: 10%;
  color: white;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container video {
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}

/**** END JUMBO ****/
/**** START DEALBAR ****/
#dealBar {
  color: white;
  background-color: #CC2936;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 768px) {
  #dealBar .row {
    padding: 5% 10%;
  }
}
@media (max-width: 650px) {
  #dealBar .row {
    padding: 8% 2% 12% 2%;
  }

  #dealBar .row .col-md-4 {
    margin-top: 20%;
  }
}
#dealBar a {
  color: white;
  border-style: solid;
  padding: 25px 35px;
  font-size: 120%;
  -webkit-transition: color 0.2s, background-color 0.2s, text-decoration 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: color 0.2s, background-color 0.2s, text-decoration 0.2s;
}

#dealBar a:hover {
  background-color: white;
  text-decoration: none !important;
  color: #CC2936;
  -webkit-transition: color 0.2s, background-color 0.2s, text-decoration 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: color 0.2s, background-color 0.2s, text-decoration 0.2s;
}

#dealBar .col-md-4 {
  text-align: center;
}

/**** END DEALBAR ****/
/**** START OVERVIEW ****/
#overview {
  color: black;
  background-color: white;
  font-family: "Poppins", sans-serif;
  padding-top: 0%;
  padding-bottom: 3%;
}

#overview hr {
  width: 10%;
  margin-top: 0%;
  border-width: 3px;
  border-color: #CC2936;
  margin-left: 0;
}

#overview #how, #features, #choose {
  border-radius: 5px;
  padding: 3% 3%;
  margin: 2% 0% 5%;
}

#overview .btn-default {
  color: black !important;
  background-color: white !important;
  border-radius: 0px;
}

#overview .btn-default.active {
  color: white !important;
  background-color: #CC2936 !important;
}

#overview .row {
  margin-top: 4%;
}

#overview h4 {
  margin-top: 5%;
  color: #CC2936;
}

#overview p {
  margin-top: 0%;
}

/**** END OVERVIEW ****/
/**** START MEET THE TEAM ****/
#meetTeam {
  background-image: url("https://goo.gl/ODK4Ra");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  padding-top: 2%;
  padding-bottom: 5%;
}

@media only screen and (max-width: 767px) {
  #meetTeam {
    display: none !important;
  }
}
#meetTeam h1 {
  padding-top: 2%;
  color: white;
}

#meetTeam hr {
  width: 6%;
  margin-top: 0%;
  margin-bottom: 0%;
  border-width: 3px;
  border-color: #CC2936;
}

#meetTeam #headshots {
  width: 70%;
  margin-top: 2%;
}

#meetTeam div {
  border-radius: 0px 0px 15px 15px;
}

#meetTeam .caption {
  background-color: #CC2936;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 10%;
}

#meetTeam #amitPortrait {
  background: url("https://goo.gl/de5Nzl");
  background-size: cover;
  position: relative;
  padding: 60% 40%;
  border-radius: 15px 15px 0px 0px;
}

#meetTeam #elliottPortrait {
  background: url("https://goo.gl/WM9Sgj");
  background-size: cover;
  position: relative;
  padding: 60% 40%;
  border-radius: 15px 15px 0px 0px;
}

#meetTeam #scottPortrait {
  background: url("https://goo.gl/3gUV55");
  background-size: cover;
  position: relative;
  padding: 60% 40%;
  border-radius: 15px 15px 0px 0px;
}

#meetTeam #amitPortrait .amitLayer {
  background-color: rgba(204, 41, 54, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}

#meetTeam #elliottPortrait .elliottLayer {
  background-color: rgba(204, 41, 54, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}

#meetTeam #scottPortrait .scottLayer {
  background-color: rgba(204, 41, 54, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}

#meetTeam h5, h6 {
  color: white;
  padding-left: 10%;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

#meetTeam h5 {
  font-size: 140%;
  padding-top: 90%;
  font-weight: 400;
}

#meetTeam h6 {
  font-size: 120%;
  padding-top: 1%;
  font-weight: 300;
}

#meetTeam i {
  padding: 3%;
  font-size: 1.6em;
  color: white;
}

#meetTeam i:hover {
  color: #7C7C7C;
}

#meetTeam h3 {
  color: black;
  font-size: 120%;
}

#meetTeam h4 {
  color: #CC2936;
  font-size: 1.1em;
}

/**** END MEET THE TEAM****/
/**** START ABOUT ****/
#about .row {
  padding-top: 4% !important;
  padding-bottom: 4% !important;
  background-color: #CC2936;
}

@media only screen and (max-width: 767px) {
  #about {
    display: none !important;
  }
}
#about .col-md-4 {
  background-color: #CC2936;
}

#about .col-md-8 {
  background-color: #CC2936;
}

#about .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#about .btn-group-vertical {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: 14%;
}

#about button {
  font-size: 3em;
  background-color: #CC2936 !important;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
}

#about button:hover {
  background-color: #F24F65 !important;
  /* Green */
  color: white;
}

#about .active {
  background-color: #F24F65 !important;
  /* Green */
  color: white;
  box-shadow: none !important;
  border-style: none !important;
}

#about p {
  font-family: "Poppins", sans-serif;
  padding: 5% 3%;
  color: white;
  font-size: 1.2em;
}

/**** END ABOUT ****/
/**** START FOOTER 1 ****/
#footer1 {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  padding-top: 1%;
  padding-bottom: 1%;
}

#footer1 h2 {
  font-size: 20px;
}

#footer1 .rowSection {
  padding: 2% 10%;
}

#footer1 .col-sm-4 {
  padding: 0% 2%;
}

#footer1 hr.shortHR {
  width: 12%;
  margin-top: 0%;
  border-width: 3px;
  margin-left: 0;
  margin-bottom: 10%;
}

#footer1 hr.longLine {
  border-color: #343638;
  border-style: solid none;
}

#footer1 .postTitle {
  color: white;
  font-size: 1em;
}

#footer1 .subtitle {
  color: #7C7C7C;
  font-size: 0.8em;
}

#footer1 .author {
  color: #343638;
  font-size: 0.8em;
}

#postOne img {
  width: 100%;
}

#footer1 #quickLinks a {
  color: #7C7C7C;
}

#footer1 hr.noMargin {
  margin: 2% 0%;
}

#footer1 li {
  color: #7C7C7C;
}

#footer1 #newsletter p {
  color: #7C7C7C;
  font-size: 0.95em;
}

#footer1 #newsletter form {
  margin-top: 10%;
}

#footer1 #newsletter input, button {
  background-color: #343638 !important;
  color: white !important;
  border-style: none !important;
  padding: 2%;
  margin: 0%;
}

#footer1 #newsletter input {
  width: 70%;
}

#footer1 i {
  color: #7C7C7C;
  font-size: 2.3em;
  padding: 0em 0.3em;
}

#footer1 #socialMediaLinks {
  margin-top: 8%;
}

#footer1 #socialMediaLinks i:hover {
  color: #CC2936;
}

#footer1 #newsletter button {
  width: 25%;
  color: white !important;
}

/**** END FOOTER 1 ****/
/**** START FOOTER 2 ****/
#footer2 {
  background-color: black;
  color: #7C7C7C;
  font-family: "Poppins", sans-serif;
  padding-bottom: 1%;
  border-top: solid 1px;
}

#footer2 p {
  padding: 2% 0% 0% 0%;
  font-size: 80%;
}

/**** END FOOTER 2 ****/